.PhoneInput {
  display: flex;
  align-items: center;
  gap: 0;
}

.PhoneInputCountry {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
}

.PhoneInputCountrySelect {
  position: relative;
  left: auto;
  visibility: visible;
  opacity: 0;
  position: absolute;
  width: 2em;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.PhoneInputCountryIcon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.PhoneInputCountryIconImg {
  max-width: 100%;
  max-height: 100%;
}

.PhoneInputCountryName {
  display: none;
}

.PhoneInputNationalNumberPrefix {
  display: none;
}
